body {
    background: #874ce6c5;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px #0000003a;
}

div {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

div p {
    margin: 10px;
}

input {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: 2px solid blueviolet;
    border-radius: 5px;
}

.btn {
    cursor: pointer;
    background: #892be298;
    color: white;
}

#res {
    text-align: center;
    border: 2px solid blueviolet;
    border-radius: 5px;
    visibility: hidden;
    width: auto;
    padding: 5px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}